    <div class="subtitle">
        Chat with other loners like you
    </div>

    <div class="list-group container">
        <div class="insideContainer">
            <% users.forEach(user => { %>

            <a href="#" class="list-group-item">
                <%=user.name%>
            </a>

            <% }) %>
        </div>
    </div>
    <div class="subtitle">
        Choose the song that you want to sing
    </div>

    <div class="list-group container">
        <div class="insideContainer">
            <% songs.forEach(song => { %>

            <a href="/songs/show/<%=song._id%>" class="list-group-item">
                <%=song.title%> by <%=song.title%>
            </a>

            <% }) %>
        </div>
    </div>


    <!-- Put the card with the songs -->