<div> Choose the song that you want to play</div>




<div>
  Chat with co-singer, to start playing, click in the song that you want to sing.
</div>

<div class="list-group">
    <% users.forEach(user => { %>

    <a href="#" class="list-group-item list-group-item-action">
        <%=user.name%>
    </a>

    <% }) %>
</div>


<!-- Put the card with the songs -->