    <div>
        Chat with other loners like you
    </div>
    
    <div class="list-group">
        <% users.forEach(user => { %>

        <a href="#" class="list-group-item list-group-item-action">
            <%=user.name%>
        </a>

        <% }) %>
    </div>

    <div>
        Choose the song that you want to sing
    </div>
    <!-- Put the card with the songs -->