  <div class="title">
      Listen other people singin
  </div>

  <div class="list-group container">
      <div class="insideContainer singersContainer">

      </div>
  </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
      <script src="/public/webRTC/list.js"></script>

  </div>


  <!-- Put the card with the songs -->