<link rel="stylesheet" href="lyricer.min.css">
<div class="list-group">

    <audio id="myAudio" controls>
        <source src="../../uploads/<%=eachSong.music%>" type="audio/ogg">


        Your browser does not support the audio element.
    </audio>

    <div id="lyricer"></div>
    <script type="text/javascript" src="lyricer.min.js"></script>
</div>