    <h1 class="title glow">Welcome to Virtual Karaoke</h1>

    <div class="container">
        <div class="list-group insideContainer">
            <div class="insideContainer">
                <a href="../auth/signup" class="list-group-item list-group-item-action  link">
                    Sign up
                </a>
            </div>
            <div class="insideContainer">
                <a href="../auth/login" class="list-group-item list-group-item-action link">Login</a>

            </div>
            <div class="insideContainer">
                <a href="../user/guest" class="list-group-item list-group-item-action link">
                    Guest
                </a>
            </div>
            <p class="guest insideContainer">As guest you cannot see others singing</p>



        </div>

    </div>