<div class="title">
    <h1>Welcome to Virtual Karaoke</h1>
</div>


<div class="list-group">

    <a href="../user/signup" class="list-group-item list-group-item-action">
        Sign up
    </a>
    <a href="#" class="list-group-item list-group-item-action">Login</a>
    <a href="#" class="list-group-item list-group-item-action">Administrator</a>

</div>