<div>
    <h1 class="title">CHOOSE BETWEEN THE OPTIONS</h1>
</div>
<div class="container">
    <div class="insideContainer">
        <a href="../user/watcher" class="list-group-item list-group-item-action link">
            I want watch other people singing
        </a>
    </div>

    <div class="insideContainer">
        <a href="../user/broadcaster" class="list-group-item list-group-item-action link">I want to show the world my
            talent</a>


    </div>
    <div class="insideContainer">
        <a href="../user/guest" class="list-group-item list-group-item-action link">
            I want to sing just for myself
        </a>


    </div>

</div>