<div>
    <h1>CHOOSE HOW TO BECOME A SUPER STAR</h1>
</div>
<div class="list-group">

    <a href="../user/single" class="list-group-item list-group-item-action">
        I want to be a single singer
    </a>
    <a href="../user/couple" class="list-group-item list-group-item-action">I want to sing with my BFF</a>

</div>